@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.root {
    -fx-background-color: #0e0e0e;
    -fx-font-family: 'Rubik', sans-serif;
}
.messageBox {
    -fx-background-color: #1A1A1AFF;
    -fx-text-fill: white;
}
.scrollPane {
    -fx-background-color: #0e0e0e;

}
.userMenu {
    -fx-background-color:  #1A1A1AFF;
}

.userMenu .label {
    -fx-text-fill: #000000;
}